.quantityBlock {
 background-color: white;
 /* padding: 2px; */
 height: 50%;
 display: flex;
 justify-content: center;
 /* align-items: center; */
 /* justify-items:center;
 align-items:center;
 align-content:center;
 justify-content:center; */
 
}

.totalPrice {
    display:flex;
    justify-content: center;
}

.incrementButton, .addButton, .decrementButton {
    padding:3px;
    margin:3px;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 2px;
    /* margin:auto auto; */
    /* display:inline; */
    /* float:left; */
}

.quantity {
    padding:3px;
    margin:3px;
}